<section id="ar" class="area">

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h1>Mi Formacion</h1>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-heading"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div id="form" class="areas"> 
                        <h5>• Egresado en 2023 de la <a id="escuela" href="https://tecnica8lanus.edu.ar/invitado.php">EEST Nº8 "Almafuerte"</a> con titulo de Tecnico en Informatica Profesional y
                            Personal
                            <hr>
                            • Formacion profesional como Diseñador Web en curso impartido por el Instituto Economico
                            Nacional
                            <hr>
                            • Formacion profesional como Desarrollador Full Stack Developer Jr en curso Argentina Programa impartido por el Ministerio de
                            Economia
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <h1>Mis Saberes</h1>
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div id="ext" class="areas">
                        <h5>• Saberes en desarrollo Full Stack
                            <hr>
                            • Saberes en programacion orientada a objetos
                            <hr>
                            • Saberes en programacion estructurada
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</section>
